# See http://help.github.com/ignore-files/ for more about ignoring files.

# folders
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json
swagger.json
nbproject
node_modules
.npm/
.config/
coverage/
dist/
queue/

# files
*.DS_Store
*._*
*.log
*.lock
*.sqlite
*.ash_history
*.env*
